/* ///////////////
   YOUR TASK
   ///////////////

   1. At a viewport width of 32.5em
      and bigger, .subscribe and 
      .recent-episodes should go next to 
      one another

  2.  They should both be equal in width
      until .subscribe reaches a width
      of 25rem, at which point it no longer
      grows anymore, and .recent-episodes
      continues to grow to take up the 
      rest of the available space
*/

.flex {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Asegura igual altura en columna también */
}

.subscribe,
.recent-episodes {
  flex: 1 1 0;
  width: 100%;
}

/* Estira el contenido verde */
.subscribe .card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 32.5em) {
  .flex {
    flex-direction: row;
    align-items: stretch; /* Asegura igual altura entre hijos */
  }

  .subscribe {
    max-width: 25rem;
  }
}
